body {
	background: rgb(168,228,244);
    background: linear-gradient(0deg, rgba(168,228,244,1) 0%, rgba(200,233,223,1) 2%, rgba(240,234,221,1) 37%);
    background-repeat: no-repeat;
}

.navigation-bar {
    background-color: white;
}

.header-style {
	background-color: transparent;
	color: white;
	text-shadow: 1px 1px 8px black;
}